.contenedor-chat {
    background-image: url(/assets/fondo\ negro\ wsp.jpg);
    width: 100vw;
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    background-size: cover;
}

.informacion-contacto {
    background-color: #202c33;
    padding: 12px 15px;
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 12px;
}

.informacion-contacto .iconos {
    margin-left: auto;
}

.informacion-contacto i {
    font-size: 22px;
    color: #8696A0;
    margin-left: 15px;
}

.informacion-contacto .bi-arrow-left {
    margin-left: -5px;
}

.informacion-contacto .nombre-contacto {
    color: white;
    font-size: 16px;
    margin-left: 5px;
}

.mensajes {
    height: 510px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}

.escribir-mensaje {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #202c33;
}

.contenedor-input {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #2a3942;
    border-radius: 10px;
    padding: 5px;
}

.btn-adjuntar {
    background-color: #202c33;
    border: none;
    color: #8696A0;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 5px;
}




.contenedor-input input {
    flex: 1;
    background-color: transparent;
    padding: 10px;
    border: none;
    font-size: 15px;
    outline: none;
}


.escribir-mensaje input::placeholder {
    font-size: 16px;
    color: #8696A0;
}

.icono-emoji {
    font-size: 22px;
    color: #8696A0;
    margin-right: 5px;
    margin-left: 5px;
}

.escribir-mensaje .boton-enviar {
    background-color: #202c33;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    margin-left: 10px;
}

.icono-enviar {
    font-size: 20px;
    color: #8696A0;
}